* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dotted black;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container-flex {
    display: flex;
}

.center {
    width: 80%;
    margin: 0 auto;
}