/* HEADER - Background */
header {
    background-color: violet;
}

/* HEADER - Nav, Parte Superiore */
nav {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
}

/* HEADER - Logo, Menù e Accedi - Misure */
.misure-prova {
    width: 100px;
    display: inline-block;
    margin: 20px 10px;
}

/* HEADER - Menù e Accedi*/
.link {
    text-decoration: none;
}


/* HEADER - Section Parte Inferiore */
header section.header {
    flex-direction: row;
    justify-content: center;
}

/* HEADER - Presentazione */
header section #presentazione {
    text-align: center;
    width: 60%;
    height: 400px;
    margin: 40px 0;
    background-color: white;
}

/* MAIN - Sections */
main section.sect {
    background-color: beige;
    padding: 40px 0;
}

/* MAIN - Immagine e Testo */
.immagine {
    width: 70%;
    height: 400px;
    background-color: aqua;
}

.testo {
    width: 30%;
    height: 400px;
    background-color: darkorange;
}

/* MAIN - Section 4 - div sect4 */
#sect4 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* MAIN - Section 4 - Immagine e Testo */
.immagine-center {
    width: 100%;
    height: 300px;
    background-color: aqua;
}

.testo-up {
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: darkorange;
}

.testo-down {
    width: 30%;
    height: 100px;
    text-align: center;
    background-color: darkorange;
}

/* FOOTER */
