/* HEADER */
/* Background */
header {
    background-color: violet;
}

/* Nav, Parte Superiore */
nav {
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
}

/* Logo, Menù e Accedi - Misure */
.misure-prova {
    display: inline-block;
    margin: 20px 10px;
}

/* Section Parte Inferiore */
header section.text-header {
    justify-content: center;
}

/* Presentazione */
header section #presentazione {
    text-align: center;
    width: 60%;
    height: 400px;
    margin: 40px 0;
    background-color: white;
}

/* MAIN */
/* Sections */
main section {
    background-color: beige;
    padding: 40px 0;
}

/* Immagine e Testo */
.immagine {
    width: 70%;
    height: 400px;
    background-color: aqua;
}

.testo {
    width: 30%;
    height: 400px;
    background-color: darkorange;
}

/* Section 4 - div sect4 */
#sect4 {
    flex-wrap: wrap;
    justify-content: center;
}

/* Section 4 - Immagine e Testo */
.immagine-center {
    width: 100%;
    height: 300px;
    background-color: aqua;
}

.testo-up {
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: darkorange;
}

.testo-down {
    width: 30%;
    height: 100px;
    text-align: center;
    background-color: darkorange;
}

/* FOOTER */
/* Background */
footer {
    background-color: gainsboro;
}

/* Misure Links */
#socials {
    width: calc(100% / 3);
    height: 400px;
}

.footer-link {
    width: calc(100% / 6);
    height: 400px;
}

/* Logo e Registrati */
footer section {
    justify-content: space-between;
}